@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
<div class="card-body">
    <a class="text-light btn btn-primary" asp-action="CreateRole" asp-controller="Administration">Add Role</a>
</div>

    foreach (var role in Model)
    {
        <div class="card">
            <div class="card-header">
                Roles
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary text-light" asp-action="EditRole" asp-controller="Administration"
                   asp-route-id="@role.Id">Edit</a>
                <a class="btn btn-danger text-light">Delete</a>
            </div>
        </div>
        <br />
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Roles
        </div>
        <div class="card-body">
            No Roles
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="text-light btn btn-primary" asp-action="CreateRole" asp-controller="Administration">Create</button>
            </div>
        </div>
    </div>
}
