@{
    ViewData["Title"] = "Rules";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div class="card">
    <div class="card-body">
        <h3>1. Ladder Rules</h3>
        <hr />
        <br />
        <h6>1.1. Eligible players</h6>
        <ul>
            <li>
                Each player must have a valid LetsPlay.Live (LPL) account with out any match bans for Dota 2. If you do not have an account you can create one here
            </li>
            <li>
                Only players from Australia and New Zealand are eligible to play in the LPL Dota 2 ladder
            </li>
            <li>
                Players must have a valid steam account linked to their LPL account (Profile> Settings>Game IDs)
            </li>
        </ul>
        <br />

        <h6>1.2. No Shows</h6>
        <ul>
            <li>
                Each team has 15 minutes from the designated match start time to enter the match
            </li>
            <li>
                Teams who have not entered the match after 15 minutes will be given a forfeit loss.
            </li>
            <li>
                Players who consecutively no show risk being removed from the ladder.
            </li>
        </ul>
        <br />

        <h6>1.3. Match Disputes</h6>
        <ul>
            <li>
                Players have 1 hours after their match is completed to dispute the match. This can be done via the match page.
            </li>
            <li>
                When making a dispute screenshots or other supporting documentation must be supplied
            </li>
            <li>
                Failure to provide evidence will result in the score standing
            </li>
            <li>
                Disputes are not accepted for disputes which should have occurred prior to the match starting. eg an ineligible player is playing
            </li>
        </ul>
        <br />

        <h6>1.4. Forfeits</h6>
        <ul>
            <li>
                Players have 15 minutes from the scheduled match time to start the match. After 15 minutes teams are able to set the match as a forfeit win. The system will automatically accredit you the win after 48 hours if the score is not disputed.
            </li>
            <li>
                Teams involved in an LPL broadcast (https://www.twitch.tv/lpl_dota) are not permitted to forfeit. It is the team captain's/org's responsibility to provide substitutes when players are unable to play.
            </li>
        </ul>
        <br />

        <h6>1.5. Teams</h6>
        <ul>
            <li>
                Teams must have 5 active players on their roster in order to be eligible to compete.
            </li>
            <li>
                Teams are permitted to have up to 3 substitute players. Temporary subs or stand in's outside of these rostered substitute players are strictly forbidden.
            </li>
            <li>
                In order to keep your elo and scores week to week, you must maintain a core of 3 players from the starting roster.
            </li>
        </ul>
        <br />

        <h6>1.5.1 - Dead Teams</h6>
        <ul>
            <li>
                In the result of a team dropping from the league (commonly known as dying), all previous matches played will be removed from the division. The core users in a team which dies will receive punishment including a ban from that season. Foregoing continuation in LPL leagues while matches are still in progress will also result in no refunds given. Players who leave the team may be excluded from punishment if the team is still eligible to continue through roster changes. This only applies to players before the team drops from the league.
            </li>
            <li>
                Breaking this rule will result in a season ban for every player in the team, the ban will finish at the end of the following season. However, players may appeal to end this ban early if they feel it was unjust through the LPL Support system.
            </li>
        </ul>
        <br />

        <h6>1.5.2 - Relegation and Inject System</h6>
        <ul>
            <li>
                During Relegations (prior to a Season start), teams may be eligible to sign up as an Inject team to participate in Relegations. Inject teams will only be pushed into Relegations if teams in the respective Division has died (See Section 1.5.1).
            </li>
            <li>
                To qualify as an Inject, teams will need at least 3 players who have previously played in the respective Division within the last 2 LPL seasons or have played in other official major tournament leagues (at the sole discretion of LPL Admins). Please note that LPL Admins may ask for player credentials. If no teams meet the requirement, an Open Qualifiers will be held or a team from the Division below will be brought up (at the sole discretion of LPL Admins).
            </li>
        </ul>
        <br />

        <h6>1.6 - Retaining Division Spots</h6>
        <ul>
            <li>
                If an organisation would like retain their spot within a Division during the off-season, the organisation owner or manager must submit a written notice to LPL Staff, indicating that they wish to retain their spot in the following season. This must be done before the day of relegations for the following season. If an organisation would not like to retain their spot, the spot is handed to the Team Captain by default.
            </li>
        </ul>
        <br />

        <h6>1.7 - Mutiny</h6>
        <ul>
            <li>
                Mutiny clause only applies to those that are NOT affiliated with an organisation.
            </li>
            <li>
                LPL DOTA 2 users have the right to remove their captain if the majority of the team agree.
            </li>
            <li>
                Players can request to have the captain removed at any time. Over sixty percent (60%) of the roster (roster must meet minimum player requirement to be eligible for mutiny) must submit this request in writing before any action will be taken by LPL (please refer to section 1). All requests must be sent to a senior LPL DOTA 2 administrator and must contain the following information. For paid leagues the 60% includes listed core members only, for the open ladder all members will be able to submit a request.
            </li>
            <li>
                Team name (with link):
            </li>
            <li>
                Name of Captain (to be removed) (with link):
            </li>
            <li>
                Name of new Captain (with link):
            </li>
            <li>
                Name of yourself and your alias (with link):
            </li>
            <li>
            Detailed reasons for the mutiny
            <li>
                or teams that have signed a team participation contract, once the team captain has been removed, a new team captain must be nominated immediately and sign the team participation contract. The team participation contract signed by the former team captain will then be made void.
            </li>
        </ul>
        <br />

        <h3>2. Hosting & Settings</h3>
        <hr />
        <br />

        <h6>2.1 Servers</h6>
        <ul>
            <li>
                All games must be played on the Australian Server.
            </li>
            <li>
                In the event of the server not being available/offline an admin must be contacted and rescheduling arranged.
            </li>
        </ul>
        <br />

        <h6>2.2 Spectators</h6>
        <ul>
            <li>
                The only spectators permitted to be in a match are Admins, Referees and approved Broadcasters.
            </li>
            <li>
                If you believe a spectator does not fulfil any of the above roles, do not start the match and contact an admin as soon as possible.
            </li>
            <li>
                Official LPL Broadcasters have the right to spectate all games without the agreement of the teams.
            </li>
            <li>
                Players are not allowed to watch or listen to any video streams at any time during their match.
            </li>
        </ul>

        <br />
        <h6>2.3 Game Settings</h6>
        <ul>
            <li>
                Server Location: Australia.
            </li>
            <li>
                Password: As generated in your match page.
            </li>
            <li>
                Cheats: No
            </li>
            <li>
                Game Mode: Captains Mode
            </li>
            <li>
                Lobby Visibility: Public
            </li>
            <li>
                Selection priority: Automatic (Coin Toss)
            </li>
            <li>
                Penalty - Radiant: No Penalty
            </li>
            <li>
                Penalty - Dire: No Penalty
            </li>
            <li>
                League: None
            </li>
            <li>
                Spectators: Enabled
            </li>
            <li>
                Dota TV Delay: 2 Minutes (5 Minutes for Challenger and Pro)
            </li>
            <li>
                Pausing: Unlimited
            </li>
            <li>
                Series Type: No Series
            </li>
        </ul>
        <br />

        <h3>3. Match Rules</h3>
        <hr />
        <br />

        <h6>3.1 Picks & Bans</h6>
        <ul>
            <li>
                The hero pool always consists of all in Captains Mode available heroes.
            </li>
            <li>
                In the event a player disconnects during the drafting stage, The lobby is to be recreated with the same picks and bans.
            </li>
        </ul>

        <h6>3.2 Pauses & Disconnects</h6>
        <ul>
            <li>
                If a player disconnects, the game is to be paused instantly. Everyone has up to ten minutes to reconnect to the game (if the same person disconnects more than once, all times get added up). If this time is passed, the opposing team may continue the game, unless an admin demands the opposite. The affected player in this case is still allowed to rejoin later on.
            </li>
            <li>
                Each team has the right to pause the game for duration of up to 10 minutes per game. If a player announces it at least three seconds in advance and calls a coherent reason (not necessary if someone disconnects). The game must not be resumed before both teams agree with it. When the number or the duration of breaks becomes too high or long, an admin may force the continuation of the game.
            </li>
        </ul>

        <h6>3.3 Cheating / Bugs</h6>
        <ul>
            <li>
                Please refer to our anti-cheat policy <a href="https://www.letsplay.live/anticheatpolicy/">here</a>
            </li>
        </ul>

        <h6>3.4 Ending</h6>
        <ul>
            <li>
                A game is finished, when an Ancient Fortress is destroyed, when one team forfeits, when the majority of a team leaves on purpose, or when an admin decides on it.
            </li>
        </ul>


        <h6>3.5 Tiebreaker</h6>
        <ul>
            <li>
        The default tiebreakers will be via Head to Head. If the tie is not broken using Head to Head, a Best of One single round robin will be played with the tied teams. If this still does not break the tie, admins may declare to use time rating for the tiebreaker rounds played.
            </li>
            <li>
                If players have any further questions, they are advised to open a support ticket <a href="https://www.letsplay.live/support/">here.</a>
            </li>
        </ul>
        <br />
        Time Rating: - (Time of longest lose) minus (Time of fastest win) - The team/s with the highest result/s go to the next round. - So, your task is to win as quick as you can and to fight as long as you can before you lose.


        <br />
    </div>
</div>


