
@{
    ViewBag.Title = "Not Found";
}
<h1>Error 404</h1>
<p>This page cannot be found, <u><a class="text-primary" asp-action="Index" asp-controller="Home">click here</a></u>  to be redirected to home page.</p>