@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<p>
    Your account has been created. <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>