@model LPLMVC.Models.TeamDataModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

<hr />
<div class="row">
    <div class="col-md-4 card mx-auto">
        <div class="card-header">
            <h4>Register your team</h4>
        </div>
        <form asp-action="Create" class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SchoolName" class="control-label"></label>
                <input asp-for="SchoolName" class="form-control" />
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1" class="control-label"></label>
                <input asp-for="Player1" class="form-control" />
                <span asp-validation-for="Player1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2" class="control-label"></label>
                <input asp-for="Player2" class="form-control" />
                <span asp-validation-for="Player2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player3" class="control-label"></label>
                <input asp-for="Player3" class="form-control" />
                <span asp-validation-for="Player3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player4" class="control-label"></label>
                <input asp-for="Player4" class="form-control" />
                <span asp-validation-for="Player4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player5" class="control-label"></label>
                <input asp-for="Player5" class="form-control" />
                <span asp-validation-for="Player5" class="text-danger"></span>
            </div>
            <h5>Substitutes (Optional)</h5>
            <hr />
            <div class="form-group">
                <label asp-for="Player6" class="control-label"></label>
                <input asp-for="Player6" class="form-control" />
                <span asp-validation-for="Player6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player7" class="control-label"></label>
                <input asp-for="Player7" class="form-control" />
                <span asp-validation-for="Player7" class="text-danger"></span>
            </div>
            <div class="form-group card-footer">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
